.element{
    display: block;
    
    color: chartreuse;

    width: 200px;
    height: 200px ;
    padding: 25px;

    border: 10px solid rgb(255, 255, 255);

    margin: 50px;
    display: none;

}


.first{
    background-color: darkslategrey;
    box-sizing: border-box;
}

.second {
    background-color:lightslategrey;
    box-sizing: content-box;

}

table, th, td {
    border: 1px solid lightslategrey;
    border-collapse: collapse;
    color: rgb(30, 40, 40);    
    text-align: center;
}

.colorClock{}
.colorClock_hh{color: brown;}
.colorClock_mm{color: olivedrab;}
.colorClock_ss{color: dodgerblue;}
 